@import "tailwindcss";

@theme {
    --color-primary-blue: #3b82f6;
    --color-primary-dark: #1e293b;
    --color-sidebar-bg: #f8fafc;
    --color-active-blue: #3b82f6;
    --color-accent-yellow: #fcd34d;
    --color-accent-pink: #fecaca;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        @apply antialiased text-slate-700 bg-slate-50 font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    .font-display {
        @apply font-display;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}